{% extends 'base.html' %}
{% load tailwind_filters %}

{% block title %}
    Add String
{% endblock title %}

{% block content %}
<main>
    <section class="flex justify-center mt-20">
        <div class="rounded-lg p-10 bg-gray-200 shadow-lg w-3/12">
            <form action="" method="POST">
                {% csrf_token %}
                {{ add_string_form|crispy }}
                <div class="flex flex-row justify-center">
                    <a class="bg-blue-600 hover:bg-blue-500 text-lg mr-3 py-3 px-4 text-white rounded-lg mt-6" href="{% url 'main:home' %}">Cancel</a>
                    <button class="bg-blue-600 hover:bg-blue-500 text-lg ml-3 py-3 px-4 text-white rounded-lg mt-6" type="submit">Add String</button>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock content %}