{% extends 'base.html' %}
{% load tailwind_filters %}

{% block title %}
    Create Room
{% endblock title %}

{% block content %}
<main class="w-full">
    <section class="flex items-center justify-center mt-20">
        <div class="border-2 rounded-xl p-10 bg-gray-800 shadow-lg">
            <form action="" method="post">
                {% csrf_token %}
                {{ create_room_form|crispy }}
                <div class="text-center mt-6">
                    <a class="bg-gray-500 hover:bg-gray-600 text-white px-5 py-2 ml-2 rounded-lg text-lg" href="{% url 'main:home' %}">Cancel</a>
                    <button class="bg-orange-500 hover:bg-orange-600 text-white px-5 py-2 ml-2 rounded-lg text-lg" type="submit">Create</button>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock content %}