{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock title %}

{% block content %}
<main>
    <section>
        <div class="flex justify-center w-full">
            <form action="" method="GET">
                {{ search_form }}
            </form>
        </div>
    </section>

    <section class="flex flex-row justify-center">
        <div class="flex-initial">
            <h3>Topics</h3>
            <hr>
            <div class="flex flex-col">
                <div>
                    <span>
                        <a class="text-blue-800 hover:text-blue-500" href="{% url 'main:home' %}">All</a>
                    </span>
                    <span>{{ topics.count }}</span>
                </div>
                {% for topic in topics %}
                    <div>
                        <span>
                            <a class="text-blue-800 hover:text-blue-500" href="{% url 'main:home' %}?query={{ topic.name }}">{{ topic.name|title }}</a>
                        </span>
                        <span>{{ topic.room_set.all.count }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="flex-initial">
            <h3>Rooms</h3>
            <hr>

            {% if request.user.is_authenticated %}
                <a href="{% url 'main:create_room' %}">Create Room</a>
            {% endif %}

            <div class="">
                {% for room in rooms %}
                    <div class="flex flex-col border p-5 rounded-lg">
                        <span>{{ room.topic.name|title }}</span>
                        <span>{{ room.title|title }}</span>
                        <span><a href="{% url 'main:profile_overview' room.host.username %}">@{{ room.host.username }}</a></span>
                        <span>{{ room.updated|date:"M. d, Y" }}</span>

                        {% if room.description %}
                            <span>{{ room.description|truncatechars:100 }}</span>
                        {% else %}
                            <span>No description is available...</span>
                        {% endif %}

                        <div class="flex">
                            <span><a class="text-blue-800 hover:text-blue-500" href="">Participate</a></span>
                            <span>{{ room.participants.all.count }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="flex-initial">
            <h3>Recent Feeds</h3>
            <hr>
        </div>
    </section>
</main>
{% endblock content %}