{% extends "base.html" %}

{% block title %}
    {{ room.title }}
{% endblock title %}

{% block content %}
<main class="flex flex-row">
    <section class="flex flex-col w-2/12 bg-gray-300 h-screen">
        <h3 class="my-3 text-2xl text-center">
            {% if path == "update_room" %}
                Update Room
            {% elif path == "delete_room" %}
                Delete Room
            {% else %}
                Room Info
            {% endif %}
        </h3>
        <hr>

        {% if path == "update_room" %}
            <div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="flex flex-col items-center mt-6">
                        <a href="{% url 'main:profile_overview' room.host.username %}">
                            <img class="w-40 rounded-full mb-4" src="{{ room.host.profile.avatar.url }}" title="Host: @{{ room.host.username }}">
                        </a>

                        <div class="text-center">
                            {{ edit_room_form.as_p }}
                        </div>
                    </div>

                    {% if room.host.username == request.user.username %}
                        <div class="flex flex-row w-full justify-center mt-5">
                            <a class="bg-red-500 text-white hover:bg-red-600 text-lg rounded-lg mr-2 py-2 px-5" href="{% url 'main:room' room.title %}">Cancel</a>
                            <button class="bg-orange-500 text-white hover:bg-orange-600 text-lg rounded-lg ml-2 py-2 px-5" type="submit">Confirm</button>
                        </div>
                    {% endif %}
                </form>
            </div>
        {% elif path == "delete_room" %}
            <div class="p-5">
                <form action="" method="post">
                    {% csrf_token %}
                    <p class="text-justify text-xl mb-5">Are you sure you want to delete the room: "{{ room.title }}"?</p>
                    <div class="flex flex-row w-full justify-center mt-5">
                        <a class="bg-orange-600 text-white hover:bg-orange-700 text-lg rounded-lg mr-2 py-2 px-5" href="{% url 'main:room' room.title %}">Cancel</a>
                        <button class="bg-red-600 text-white hover:bg-red-700 text-lg rounded-lg ml-2 py-2 px-5" type="submit">Confirm</button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="flex flex-col items-center mt-6 text-xl">
                <a href="{% url 'main:profile_overview' room.host.username %}">
                    <img class="w-40 rounded-full mb-4" src="{{ room.host.profile.avatar.url }}" title="Host: @{{ room.host.username }}">
                </a>
                <span title="Room Title">{{ room.title|title }}</span>
                <span title="Topic">{{ room.topic.name|title }}</span>
                <span title="Created On">{{ room.created|date:"M. d, Y" }}</span>
                <span class="text-justify px-3">{{ room.description }}</span>
            </div>

            {% if room.host.username == request.user.username %}
                <div class="flex flex-row w-full justify-center mt-5">
                    <a class="bg-orange-600 text-white hover:bg-orange-700 text-lg rounded-lg mr-2 py-2 px-5" href="{% url 'main:update_room' room.title %}">Update</a>
                    <a class="bg-red-600 text-white hover:bg-red-700 rounded-lg text-lg ml-2 py-2 px-5" href="{% url 'main:del_room' room.title %}">Delete</a>
                </div>
            {% endif %}
        {% endif %}
    </section>
    
    <section class="flex flex-col w-8/12 h-screen">
        {% if path == "edit_msg" %}
            <div class="mt-6 text-center">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ edit_msg_form.as_p }}
                    <div class="flex flex-row w-full justify-center mt-5">
                        <a class="bg-orange-600 text-white hover:bg-orange-700 text-lg rounded-lg mr-2 py-2 px-5" href="{% url 'main:room' room.title %}">Cancel</a>
                        <button class="bg-red-600 text-white hover:bg-red-700 text-lg rounded-lg ml-2 py-2 px-5" type="submit">Confirm</button>
                    </div>
                </form>
            </div>
        {% elif path == room.title %}
            <div class="mt-6 text-center">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ send_message_form.as_p }}
                    <button class="bg-blue-600 hover:bg-blue-700 text-white px-5 py-2 rounded-lg text-lg" type="submit">Send</button>
                </form>
            </div>
        {% endif %}

        <div class="flex flex-col m-6 p-6 border rounded-lg">
            {% for message in room.message_set.all %}
                <div class="border rounded-lg my-3 text-left w-6/12 bg-gray-200">
                    <div class="flex justify-between rounded-t-lg p-3 bg-gray-300 w-full text-lg">
                        <span>
                            <a class="text-blue-700 hover:text-blue-400" href="{% url 'main:profile_overview' message.sender.username %}">@{{ message.sender.username }}</a>
                        </span>

                        {% if request.user.username == message.sender.username %}
                            <a class="text-blue-700 hover:text-blue-400" href="{% url 'main:edit_msg' message.room.title message.id %}">Edit</a>
                            <a class="text-blue-700 hover:text-blue-400" href="{% url 'main:del_msg' message.room.title message.id %}">Delete</a>
                        {% endif %}

                        <span>{{ message.updated|timesince }}</span>
                    </div>
                    <div class="p-3">{{ message.body|linebreaks }}</div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="w-2/12 bg-gray-300 h-screen">
        {% if path == "delete_msg" %}
            <h3 class="my-3 text-center text-2xl">Delete Message</h3>
            <hr class="">

            <div class="p-5">
                <form action="" method="post">
                    {% csrf_token %}
                    <p class="text-justify text-xl mb-5">Are you sure you want to delete your message?</p>
                    <div class="flex flex-row w-full justify-center mt-5">
                        <a class="bg-orange-600 text-white hover:bg-orange-700 text-lg rounded-lg mr-2 py-2 px-5" href="{% url 'main:room' room.title %}">Cancel</a>
                        <button class="bg-red-600 text-white hover:bg-red-700 text-lg rounded-lg ml-2 py-2 px-5" type="submit">Confirm</button>
                    </div>
                </form>
            </div>
        {% else %}
            <h3 class="my-3 text-center text-2xl">Participants</h3>
            <hr class="">

            <div class="grid grid-cols-2 p-6">
                {% for user in room.participants.all %}
                    <span class="">
                        <a class="bg-green-600 hover:bg-green-700 text-white text-center text-xl rounded-lg py-2 px-5" href="{% url 'main:profile_overview' user.username %}">@{{ user.username }}</a>
                    </span>
                {% endfor %}
            </div>
        {% endif %}
    </section>
</main>
{% endblock content %}